@{
    ViewBag.Title = "Greetings";
}

<h2>Greetings</h2>

<p>Hello, welcome @ViewBag.PersonDetail.Name! You are @ViewBag.PersonDetail.Age years old, right? And you live in @ViewBag.PersonDetail.City!</p>
